In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Download the data!

In [71]:
postal_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [72]:
postal_data.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [73]:
postal_data.shape

(180, 3)

## Drop the rows that contain "Not assigned" value in the 'Borough' column.

In [74]:
postal_data.drop(postal_data[ postal_data['Borough'] == "Not assigned" ].index, inplace = True)

In [75]:
postal_data.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Checking if theres any duplicate postal codes.

In [84]:
def check(df):
    for i in df.duplicated(subset=None, keep='first'):
        if i == True:
            return "There are duplicate postal codes!"
    return "There are no duplicate postal codes!"

check(postal_data)

'There are no duplicate postal codes!'

## Checking if a cell has a borough but a Not assigned neighborhood

In [89]:
postal_data[ postal_data['Neighborhood'] in ["Not assigned"] ]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().